In [1]:
import os 
import csv
import pandas as pd
import numpy as np

The goal of this notebook is to explore the content of the listed below files, **identifying in which input fields the useful information lies, pinpointing the connections btw the files, and to merge all the data into a structure** which is ready to be fed into the graph.

In [2]:
#Available data - files
files = [f for f in os.listdir('.') if os.path.isfile(f)]
for f in files: print(f)

Maurer_Hansruedi_2020-10-08_16_28_49.doc
ResearchCollectionPublications2008_2018.tsv
ETH Professor list.xlsx
Data exploration.ipynb
README.md
.gitignore
ResearchCollection.xlsx
Data Overview.docx
D-ARCH.xlsx

# ResearchCollectionPublications2008_2018.tsv

In [3]:
rcp = pd.read_csv("ResearchCollectionPublications2008_2018.tsv", sep="\t", header=0, encoding="latin-1") #utf8 not working...

/Users/andreasopedal/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (20,37,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
rcp.head(10)

,RC_ID,COLLECTION,DC_CONTRIBUTOR_AUTHOR,DC_CONTRIBUTOR_EDITOR,DC_DATE_ISSUED,DC_DATE_PUBLISHED,DC_IDENTIFIER_DOI,DC_IDENTIFIER_ISBN,DC_IDENTIFIER_ISSN,DC_IDENTIFIER_OTHER,...,ETHZ_GRANT,ETHZ_GRANT_FUNDERDOI,ETHZ_GRANT_FUNDERNAME,ETHZ_GRANT_PROGRAM,ETHZ_IDENTIFIER_DISS,ETHZ_IDENTIFIER_PUBMED,DC_IDENTIFIER_WOS,ETHZ_IDENTIFIER_ORCIDWORKCODE,DC_CONTRIBUTOR_OTHER,ETHZ_IDENTIFIER_ARXIV
0,241217,NaN,"Renner, Renato","Kao, Ming-Yang",2008,NaN,NaN,978-0-387-30770-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11574,NaN,"Diekmann, Andreas||Jann, Ben","Farzin, Sina||Jordan, Stefan",2008,NaN,NaN,978-3-15-010661-7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202843,20.500.11850/13,NaN,"Glaser, Marie A.",2008,NaN,NaN,978-3-0377-8111-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4209,NaN,"Becchi, Antonio||Ducic, Sandra||Oechslin, Wern...",Stiftung Bibliothek Werner Oechslin,2008,NaN,NaN,3-85676-231-0||978-3-85676-231-5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,203598,20.500.11850/13,NaN,"Cramm, Wolf-Jürgen||Keil, Geert",2008,NaN,NaN,978-3-9388-0845-0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,11776,NaN,"Mateo, Josep L.","Wenona, Cao",2008,NaN,NaN,978-7-5083-5690-7||7-50835-690-X,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,176670,20.500.11850/13,NaN,"Fischer-Tiné, Harald||Gehrmann, Susanne",2008,NaN,NaN,978-0-415-96239-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,247615,NaN,"Wenger, Andreas||Mauer, Victor||Trachsler, Dan...","Wenger, Andreas||Mauer, Victor||Trachsler, Daniel",2008,NaN,10.3929/ethz-b-000015099,NaN,1024-0608,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,248649,NaN,"Frisch, Max","de Vin, Daniel||Obschlager, Walter",2008,NaN,NaN,978-3-518-41999-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,197388,NaN,NaN,"Selin, Helaine",2008,NaN,NaN,1-4020-4559-X||978-1-4020-4559-2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
rcp.columns

Index(['RC_ID', 'COLLECTION', 'DC_CONTRIBUTOR_AUTHOR', 'DC_CONTRIBUTOR_EDITOR',
       'DC_DATE_ISSUED', 'DC_DATE_PUBLISHED', 'DC_IDENTIFIER_DOI',
       'DC_IDENTIFIER_ISBN', 'DC_IDENTIFIER_ISSN', 'DC_IDENTIFIER_OTHER',
       'DC_IDENTIFIER_URI', 'DC_TITLE', 'DC_TITLE_ALTERNATIVE', 'DC_TYPE',
       'ETHZ_AVAILABILITY', 'ETHZ_BOOK_TITLE', 'ETHZ_ETH', 'ETHZ_EVENT',
       'ETHZ_EVENT_DATE', 'ETHZ_EVENT_LOCATION', 'ETHZ_IDENTIFIER_SCOPUS',
       'ETHZ_IDENTIFIER_URL', 'ETHZ_IDENTIFIER_WOS',
       'ETHZ_JOURNAL_ABBREVIATED', 'ETHZ_JOURNAL_ISSUE', 'ETHZ_JOURNAL_TITLE',
       'ETHZ_JOURNAL_VOLUME', 'ETHZ_LEITZAHLIDENTIFIERS_CERT',
       'ETHZ_PAGES_END', 'ETHZ_PAGES_START', 'ETHZ_PUBLICATION_PLACE',
       'ETHZ_TITLE_SUBTITLE', 'ETHZ_GRANT', 'ETHZ_GRANT_FUNDERDOI',
       'ETHZ_GRANT_FUNDERNAME', 'ETHZ_GRANT_PROGRAM', 'ETHZ_IDENTIFIER_DISS',
       'ETHZ_IDENTIFIER_PUBMED', 'DC_IDENTIFIER_WOS',
       'ETHZ_IDENTIFIER_ORCIDWORKCODE', 'DC_CONTRIBUTOR_OTHER',
       'ETHZ_IDENTIFIER_ARXIV'],
      dtype='object')

In [6]:
# do we also need to convert types?
rcp.dtypes

RC_ID                              int64
COLLECTION                        object
DC_CONTRIBUTOR_AUTHOR             object
DC_CONTRIBUTOR_EDITOR             object
DC_DATE_ISSUED                    object
DC_DATE_PUBLISHED                 object
DC_IDENTIFIER_DOI                 object
DC_IDENTIFIER_ISBN                object
DC_IDENTIFIER_ISSN                object
DC_IDENTIFIER_OTHER               object
DC_IDENTIFIER_URI                 object
DC_TITLE                          object
DC_TITLE_ALTERNATIVE              object
DC_TYPE                           object
ETHZ_AVAILABILITY                 object
ETHZ_BOOK_TITLE                   object
ETHZ_ETH                          object
ETHZ_EVENT                        object
ETHZ_EVENT_DATE                   object
ETHZ_EVENT_LOCATION               object
ETHZ_IDENTIFIER_SCOPUS            object
ETHZ_IDENTIFIER_URL               object
ETHZ_IDENTIFIER_WOS               object
ETHZ_JOURNAL_ABBREVIATED          object
ETHZ_JOURNAL_ISSUE                object
ETHZ_JOURNAL_TITLE                object
ETHZ_JOURNAL_VOLUME               object
ETHZ_LEITZAHLIDENTIFIERS_CERT     object
ETHZ_PAGES_END                    object
ETHZ_PAGES_START                  object
ETHZ_PUBLICATION_PLACE            object
ETHZ_TITLE_SUBTITLE               object
ETHZ_GRANT                        object
ETHZ_GRANT_FUNDERDOI              object
ETHZ_GRANT_FUNDERNAME             object
ETHZ_GRANT_PROGRAM                object
ETHZ_IDENTIFIER_DISS             float64
ETHZ_IDENTIFIER_PUBMED            object
DC_IDENTIFIER_WOS                float64
ETHZ_IDENTIFIER_ORCIDWORKCODE    float64
DC_CONTRIBUTOR_OTHER              object
ETHZ_IDENTIFIER_ARXIV             object
dtype: object

In [7]:
# nulls for columns
rcp.isnull().sum(axis=0)

RC_ID                                 0
COLLECTION                       100328
DC_CONTRIBUTOR_AUTHOR               879
DC_CONTRIBUTOR_EDITOR             98340
DC_DATE_ISSUED                      213
DC_DATE_PUBLISHED                 91510
DC_IDENTIFIER_DOI                 97804
DC_IDENTIFIER_ISBN                90800
DC_IDENTIFIER_ISSN                49248
DC_IDENTIFIER_OTHER               35152
DC_IDENTIFIER_URI                     5
DC_TITLE                              0
DC_TITLE_ALTERNATIVE             110582
DC_TYPE                               0
ETHZ_AVAILABILITY                    14
ETHZ_BOOK_TITLE                   89151
ETHZ_ETH                              0
ETHZ_EVENT                        79389
ETHZ_EVENT_DATE                   79476
ETHZ_EVENT_LOCATION               81407
ETHZ_IDENTIFIER_SCOPUS            82704
ETHZ_IDENTIFIER_URL              107909
ETHZ_IDENTIFIER_WOS               52280
ETHZ_JOURNAL_ABBREVIATED          61435
ETHZ_JOURNAL_ISSUE                51935
ETHZ_JOURNAL_TITLE                26960
ETHZ_JOURNAL_VOLUME               30683
ETHZ_LEITZAHLIDENTIFIERS_CERT     30206
ETHZ_PAGES_END                    35665
ETHZ_PAGES_START                  18828
ETHZ_PUBLICATION_PLACE             8536
ETHZ_TITLE_SUBTITLE               95277
ETHZ_GRANT                       108456
ETHZ_GRANT_FUNDERDOI             108456
ETHZ_GRANT_FUNDERNAME            108456
ETHZ_GRANT_PROGRAM               109251
ETHZ_IDENTIFIER_DISS             110933
ETHZ_IDENTIFIER_PUBMED           110892
DC_IDENTIFIER_WOS                110934
ETHZ_IDENTIFIER_ORCIDWORKCODE    110879
DC_CONTRIBUTOR_OTHER             110914
ETHZ_IDENTIFIER_ARXIV            110904
dtype: int64

## Cleaning 

**What information should be extracted?**

- authors names from "DC_CONTRIBUTOR_AUTHOR"
- editors names from "DC_CONTRIBUTOR_EDITOR" (ideally same function used for the above step) 
- date from "DC_DATE_ISSUED" OR "DC_DATE_PUBLISHED"
- title from "DC_TITLE" OR "ETHZ_BOOK_TITLE" 
- type of publication 
- place from "ETHZ_PUBLICATION_PLACE"
- journal of publication indirectly from "ETHZ_IDENTIFIER_ARXIV" and similar
- ETHZ journal information?
- ...

**Doubts/Observations**
- (Should be tested) Author field is Nan AND Collection field is filled - what does this represent? 
- ...

### Cleaning utils 
Here the code to clean this mess

In [8]:
def separate_names(names):
    """ Separes a string of names of the form name1||name2||name3||... into a list of names."""
    # Also: does pandas DataFrame support list of strings as fields? 
    # Andreas: Yes
    if isinstance(names, str):
        return names.split("||")

In [10]:
# name fields to lists

author_array = rcp.loc[:,"DC_CONTRIBUTOR_AUTHOR"].apply(separate_names)
print("Check that we don't have more missing values: ", author_array.shape[0] - np.count_nonzero(author_array))
editor_array = rcp.loc[:,"DC_CONTRIBUTOR_EDITOR"].apply(separate_names)
print("Check that we don't have more missing values: ", editor_array.shape[0] - np.count_nonzero(editor_array))
rcp["DC_CONTRIBUTOR_AUTHOR"] = author_array
rcp["DC_CONTRIBUTOR_EDITOR"] = editor_array
rcp.head()

Check that we don't have more missing values:  879
Check that we don't have more missing values:  98340

,RC_ID,COLLECTION,DC_CONTRIBUTOR_AUTHOR,DC_CONTRIBUTOR_EDITOR,DC_DATE_ISSUED,DC_DATE_PUBLISHED,DC_IDENTIFIER_DOI,DC_IDENTIFIER_ISBN,DC_IDENTIFIER_ISSN,DC_IDENTIFIER_OTHER,...,ETHZ_GRANT,ETHZ_GRANT_FUNDERDOI,ETHZ_GRANT_FUNDERNAME,ETHZ_GRANT_PROGRAM,ETHZ_IDENTIFIER_DISS,ETHZ_IDENTIFIER_PUBMED,DC_IDENTIFIER_WOS,ETHZ_IDENTIFIER_ORCIDWORKCODE,DC_CONTRIBUTOR_OTHER,ETHZ_IDENTIFIER_ARXIV
0,241217,NaN,"[Renner, Renato]","[Kao, Ming-Yang]",2008,NaN,NaN,978-0-387-30770-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11574,NaN,"[Diekmann, Andreas, Jann, Ben]","[Farzin, Sina, Jordan, Stefan]",2008,NaN,NaN,978-3-15-010661-7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202843,20.500.11850/13,None,"[Glaser, Marie A.]",2008,NaN,NaN,978-3-0377-8111-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4209,NaN,"[Becchi, Antonio, Ducic, Sandra, Oechslin, Wer...",[Stiftung Bibliothek Werner Oechslin],2008,NaN,NaN,3-85676-231-0||978-3-85676-231-5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,203598,20.500.11850/13,None,"[Cramm, Wolf-Jürgen, Keil, Geert]",2008,NaN,NaN,978-3-9388-0845-0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# D-ARCH.xlsx

In [11]:
#necessary requirement for xlsx files 
!python3 -m pip install xlrd

Requirement already satisfied: xlrd in /Users/andreasopedal/opt/anaconda3/lib/python3.7/site-packages (1.2.0)
WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the '/Users/andreasopedal/opt/anaconda3/bin/python3 -m pip install --upgrade pip' command.

In [12]:
da = pd.read_excel("D-ARCH.xlsx")

In [13]:
da.head()

,DEPARTMENT,RESEARCHER,TIMESTAMP,RESEARCH_OVERVIEW
0,Architecture,Tom_Avermaete,2020-10-08 15:32:09,Title: Information for Professor Tom.Avermaete...
1,Architecture,Philippe_Block,2020-10-08 15:32:17,Title: Information for Professor Philippe.Bloc...
2,Architecture,A._Caminada,2020-10-08 15:33:28,Title: Information for Professor A..Caminada f...
3,Architecture,Caruso_Adam,2020-10-08 15:33:29,Title: Information for Professor Caruso.Adam f...
4,Architecture,François_Charbonnet,2020-10-08 15:33:31,Title: Information for Professor François.Char...

In [14]:
# nulls for columns
da.isnull().sum(axis=0)

DEPARTMENT           0
RESEARCHER           0
TIMESTAMP            0
RESEARCH_OVERVIEW    0
dtype: int64

**Complete file**

This file should be connected to the main one (Research Collection) through the professor name.<br>
Integrates research overview info.

In [15]:
# check whether the professors' names here and the authors' names there match

# ETH Professor list.xlsx

In [16]:
pl = pd.read_excel("ETH Professor list.xlsx")

In [17]:
pl.head()

,Title,Name,First name,Org. unit code,Organisation
0,Prof. Dr.,Abhari,Reza S.,2627,Institute of Energy Technology (former)
1,Prof. Dr.,Acciaio,Beatrice,9727,"Acciaio, Beatrice"
2,Prof. Dr.,Ackermann,Martin,3743,"Ackermann, Martin"
3,Prof. Dr.,Ackermann,Martin,2721,Inst. Biogeochem. and Pollutant Dynamics
4,Prof. Dr.,Adey,Bryan T.,2604,Inst. Construction&Infrastructure Manag.

In [18]:
# nulls for columns
pl.isnull().sum(axis=0)

Title             0
Name              0
First name        0
Org. unit code    0
Organisation      0
dtype: int64

**Complete file**

Again this file matches the research collection through the professors' name. <br>
Integrates organisation info.

In [19]:
pl["Professor"] = pl["Name"] + ", " + pl["First name"]
pl.head()

,Title,Name,First name,Org. unit code,Organisation,Professor
0,Prof. Dr.,Abhari,Reza S.,2627,Institute of Energy Technology (former),"Abhari, Reza S."
1,Prof. Dr.,Acciaio,Beatrice,9727,"Acciaio, Beatrice","Acciaio, Beatrice"
2,Prof. Dr.,Ackermann,Martin,3743,"Ackermann, Martin","Ackermann, Martin"
3,Prof. Dr.,Ackermann,Martin,2721,Inst. Biogeochem. and Pollutant Dynamics,"Ackermann, Martin"
4,Prof. Dr.,Adey,Bryan T.,2604,Inst. Construction&Infrastructure Manag.,"Adey, Bryan T."

In [23]:
# check a few examples

#pl.loc[(pl["Professor"]=="Renner, Renato"),:] # matches with rcp
#pl.loc[(pl["Professor"]=="Diekmann, Andreas"),:]
#pl.loc[(pl["Name"]=="Diekmann"),:] # this guy is an ETH professor but is missing in pl
#pl.loc[(pl["Professor"]=="Mateo, Josep L."),:] 
#pl.loc[(pl["Name"]=="Mateo"),:]  # same with this guy
#pl.loc[(pl["Professor"]=="Wenger, Andreas"),:] # matches with rcp
#pl.loc[(pl["Professor"]=="Krause, Andreas"),:] # CS represent
#pl.loc[(pl["Professor"]=="Hofmann, Thomas"),:]

,Title,Name,First name,Org. unit code,Organisation,Professor
687,Prof. Dr.,Wenger,Andreas,2052,CIS,"Wenger, Andreas"
688,Prof. Dr.,Wenger,Andreas,2228,Energy Science Center (ESC),"Wenger, Andreas"
689,Prof. Dr.,Wenger,Andreas,3515,"Wenger, Andreas","Wenger, Andreas"

# ResearchCollection.xlsx

In [24]:
rc = pd.read_excel("ResearchCollection.xlsx")

In [25]:
rc.head()

,NAME,SHORTNAME,TIMESTAMP,RESEARCH_OVERVIEW,DEPARTMENT_RESEARCH_WEBSITE
0,Architecture,D-ARCH,2020-05-08 17:50:35,D-ARCH_2020-05-08_17_50_35,https://arch.ethz.ch/en/forschung.html
1,"Civil, Environmental and Geomatic Engineering",D-BAUG,2020-10-08 15:38:04,D-BAUG_2020-10-08_15_38_04,https://baug.ethz.ch/en/research.html
2,Biosystems Science and Engineering,D-BSSE,2020-10-08 15:38:04,D-BSSE_2020-10-08_15_38_04,https://bsse.ethz.ch/research.html
3,Computer Science,D-INFK,2020-10-08 15:42:40,D-INFK_2020-10-08_15_42_40,https://inf.ethz.ch/research.html
4,Information Technology and Electrical Engineering,D-ITET,2020-10-08 15:42:40,D-ITET_2020-10-08_15_42_40,https://ee.ethz.ch/research.html

In [26]:
# nulls for columns
rc.isnull().sum(axis=0)

NAME                           0
SHORTNAME                      0
TIMESTAMP                      0
RESEARCH_OVERVIEW              0
DEPARTMENT_RESEARCH_WEBSITE    0
dtype: int64

**Complete file**

This file matches the D-ARCH file through the departments' name. <br>
Integrates departments info and websites links.

Andreas: Is this data needed at this point?

--- 

# Creating a final structure

(In my opinion) the best final data structure is a dictionary (aka a tree) - can be dumped into a json file - which is easy to load into a neo4j graph. <br>
In this section all the code to save the selected and integrated data into a dictionary.

Andreas: Yes good idea. But we could also just directly dump a dataframe into a json right? Since pandas supports nested structures.

TODO:
* Write a function that joins authors in rcp with professors in pl
* Select relevant fields in first stage of the graph building and put in dataframe or dictionary
* Export as json